html {
  --bg: #212529;
  --color: #f8f9fa;
  background-color: var(--bg);
  color: var(--color);
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}
